@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-welcome2 {
  background-image: 
    conic-gradient(rgb(136, 19, 55), rgb(23, 23, 23), rgb(180, 83, 9));
}

.gradient-bg-welcome3 {
  background-image: 
    conic-gradient(at center top, rgb(136, 19, 55), rgb(23, 23, 23), rgb(180, 83, 9))
}

.gradient-bg-welcome4 {
  background-image: 
    conic-gradient(at right top, rgb(244, 244, 245), rgb(23, 23, 23), rgb(136, 19, 55))
}

.gradient-bg-welcome5 {
  background-image: 
    conic-gradient(at center top, rgb(161, 161, 170), rgb(23, 23, 23), rgb(136, 19, 55))
}

.gradient-bg-welcome6 {
  background-image: 
    conic-gradient(rgb(161, 161, 170), rgb(23, 23, 23), rgb(136, 19, 55))
}

.gradient-bg-welcome7 {
  background-image: 
    conic-gradient(at center top, rgb(136, 19, 55), rgb(23, 23, 23), rgb(161, 161, 170))
}

.gradient-bg-welcome8 {
  background-image: 
    conic-gradient(rgb(136, 19, 55), rgb(23, 23, 23), rgb(161, 161, 170))
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.red-glassmorphism {
  background: rgba(204, 12, 12, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
    radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
    radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bronze {
  background: linear-gradient(135deg,  #d19c35 0%,#f7e6c5 50%,#e8b558 100%);
  border: 1px solid #e6b86a;
}

.silver {
  background: linear-gradient(135deg,  #c0c0c0 0%,#e6e6e6 50%,#d0d0d0 100%);
  border: 1px solid #d0d0d0;
}

.gold {
  background: linear-gradient(135deg,  #d4af37 0%,#f7e6c5 50%,#e8b558 100%);
  border: 1px solid #e6b86a;
}

.diamond {
  background: linear-gradient(135deg,  #b9f2ff 0%,#e6f7ff 50%,#a3e8ff 100%);
  border: 1px solid #a3e8ff;
}

.ruby {
  background: linear-gradient(135deg,  #ff0000 0%,#ffcccc 50%,#ff6666 100%);
  border: 1px solid #ff6666;
}

.sapphire {
  background: linear-gradient(135deg,  #0000ff 0%,#ccccff 50%,#6666ff 100%);
  border: 1px solid #6666ff;
}

.emerald {
  background: linear-gradient(135deg,  #00ff00 0%,#ccffcc 50%,#66ff66 100%);
  border: 1px solid #66ff66;
}

.bronze2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #bd881f 0%, #a76e12 8%, #8c5701 30%, #ba7910 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #5d4a1f 0%,  #6e5100 10%, #6e4d00 100%);
}

.silver2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #C0C0C0 0%, #E6E6E6 8%, #bebebe 30%, #cdcccc 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #E6E6E6 8%, #c4c3c3 30%, #A0A0A0 40%, transparent 80%);
}

.gold2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #f8e9a6 0%, #d5c096 8%, #deba6d 30%, #edc568 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.diamond2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #B9F2FF 0%, #E6F7FF 8%, #A3E8FF 30%, #7BC9FF 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.ruby2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FF0000 0%, #FFCCCC 8%, #FF6666 30%, #CC0000 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.sapphire2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #0000FF 0%, #CCCCFF 8%, #6666FF 30%, #0000CC 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.emerald2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #d0f4d0 0%, #a2ffa2 8%, #34ca34 30%, #2ad82a 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #191919 0%, #5cb25c 10%, #115411 50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
